@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Kdam+Thmor+Pro&display=swap');
@import url('../css/Colors.css');

* {
  box-sizing: border-box;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #102370;
  font-family: 'Inter';
}

*::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #ffffff00;
}

::-webkit-scrollbar-track {
  background-color: #242d4200;
}

*::-webkit-scrollbar-thumb {
  background-color: #464d61;
  background-clip: padding-box;
  border: 2px solid #242d4200;
  border-radius: 30px;
}

::selection {
  background-color: rgba(86, 150, 233, 0.38);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

/* HEARTBEAT ANIMATION */

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 12s infinite;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Dotted Background*/
.dotted_bg{
  background-image: radial-gradient(#ffffff33 1px, #ffffff00 1px);
  background-size: 20px 20px;
  border-radius: 32px;
  height: 100vh;
}

#buttons-container {
  display: flex;
  justify-content: center;
}

svg:focus {
  outline: none;
}

.icon-stroke-bold, .icon-stroke-bold > * {
  stroke-width: 0.5;
}

.icon-stroke-bolder, .icon-stroke-bolder > * {
  stroke-width: 2.1;
}

[type='radio']:checked {
  background-image: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyBmaWxsPSIjZmZmZmZmIiBoZWlnaHQ9IjgwMHB4IiB3aWR0aD0iODAwcHgiIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iLTI5NCAtMjk0IDEwNzguMDAgMTA3OC4wMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgc3Ryb2tlPSIjZmZmZmZmIj4KDTxnIGlkPSJTVkdSZXBvX2JnQ2FycmllciIgc3Ryb2tlLXdpZHRoPSIwIi8+Cg08ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KDTxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPHBvbHlnb24gcG9pbnRzPSI0NTIuMjUzLDI4LjMyNiAxOTcuODMxLDM5NC42NzQgMjkuMDQ0LDI1Ni44NzUgMCwyOTIuNDY5IDIwNy4yNTMsNDYxLjY3NCA0OTAsNTQuNTI4ICIvPiA8L2c+Cg08L3N2Zz4=) !important;
}

pre {
  font-family: unset;
}

.dropdown {
  z-index: 9999;
}

.dropdown-shadow {
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
} 

.dark-glass, .p-link {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: var(--white);
}

.dark-glass:hover, .p-link:hover {
  background: rgba(49, 49, 49, 0.5);
}

.white-glass {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: var(--black);
}

/*Playground fix styles*/
@media (min-width: 1024px) {
  .flex-lg-hidden {
    display: none !important;
  }
  .flex-lg {
    display: flex !important;
  }
}

/* PrimeReact CSS that for any reason is overwritten by tailwindcss or other styles */
.p-invalid {
  border-color: #e24c4c !important;
}
.p-inputtext {
  padding: 0.75rem 0.75rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px !important;
}
.p-disabled, .p-disabled * {
  cursor: default !important;
  pointer-events: none;
  user-select: none;
  background: var(--light-grey);
  color: var(--grey);
}
.p-inputswitch.p-highlight .p-inputswitch-slider, .p-slider .p-slider-range, .p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: var(--main-blue) !important;
}
.p-slider-handle {
  border: 2px solid var(--main-blue);
}
.p-disabled, .p-disabled * {
  visibility: hidden;
}
.p-link {
  position: absolute;
  border-radius: 16px;
  z-index: 10;
}
.p-carousel-prev {
  left: 4.5rem;
}
.p-carousel-next {
  right: 1.25rem;
}
[type='checkbox']:focus, [type='radio']:focus {
  --tw-ring-offset-width: 0 !important;
}