:root {
    --dark: #0d162c;
    --dark-gray: #1c1c1c;
    --main-blue: #0a4de8;
    --blue: #2563eb;
    --light-blue: #a2c0f8;
    --white: #FFFFFF;
    --light-grey: #ebebeb;
    --grey: #636363;
    --red: #eb2564;
    --disabled: #818080;
    --hover-light: #d7d7d76e;
    --hover-black: #151515d5;
    --hover-blue: #96d5ff;
    --hover-lightblue: #b1d8f276;
    --hover-red: #ff96c29c;
}